{% extends "base.html" %}
{% block content %}
<style type="text/css">
    
    table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    caption{
        font-size: 2em;
    }
    thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    }
    td {
    padding: 12px 15px;
    border:1px solid #dddddd;
    }
    tr {
    border-bottom: 1px solid #dddddd;
    }
    tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    tr.active-row {
        font-weight: bold;
        color: #009879;
    }

    </style>

<div id="calendar_text_2">請選擇會議室日期<br />
<form id="chooseDate" action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <input type="date" name="date" value="{{date}}" oninput='chooseDate.submit()'>
    <noscript>
        <input type="submit" value="Submit">
    </noscript>
</form>
</div>

<table width="100%" height="75%" >
    <thead>
        <tr>
            <th class="centerText">TIME\ROOM</th>
            <th class="centerText">ROOM 1</th>
            <th class="centerText">ROOM 2</th>
            <th class="centerText">ROOM 3</th>
            <th class="centerText">ROOM 4</th>
            <th class="centerText">ROOM 5</th>
        </tr>
    </thead>

    <tbody>
        {%for time_choice_key,time_choice in time_choices%}
        <tr>
            <td class="centerText">{{time_choice}}</td>
            {%for room_choice_key,room_choice in room_choices%}
            <td timeid = {{time_choice}} roomid = {{room_choice}}>
                {%for reservation in reservations%}
                    {% if reservation.time == time_choice_key and reservation.room == room_choice_key%}
                        <a class="centerText">Invalid</a>
                    {% else %}
                        <a class="centerText" href="{% url 'book' %}?date={{date}}&time={{time_choice_key}}&room={{room_choice_key}}">Book</a>

                    {% endif %}

                    

                {%endfor%}
                {% if reservations|length == 0 %}
                        <a class="centerText" href="{% url 'book' %}?date={{date}}&time={{time_choice_key}}&room={{room_choice_key}}">Book</a>
                {% endif %}
            </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>

</table>
{% endblock %}


