{% extends "base.html" %}
{% block content %}
<div id="calendar_text_2">請選擇會議室日期<br /><input type="date" name="date"></div>
<!---->
<table width="80%" height="100%" style="text-align:center;">
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td width="15%">&nbsp&nbsp</td>
        <td width="17%" style='border-right:1px solid #000000'>ROOM 1</td>
        <td width="17%" style='border-right:1px solid #000000'>ROOM 2</td>
        <td width="17%" style='border-right:1px solid #000000'>ROOM 3</td>
        <td width="17%" style='border-right:1px solid #000000'>ROOM 4</td>
        <td width="17%">ROOM 5</td>
    </tr>

    {%for time_choice in time_choices%}
    <tr bgcolor="green" style="height: 1;">
        <td colspan="6"></td>
    </tr>
    <tr>
        <td width="15%" style='border-right:1px solid #000000'>time_choice</td>

        {%for room_choice in room_choices%}
        <td width="17%" style='border-right:1px solid #000000'></td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}