{% extends "base.html" %}
{% block content %}
<form method="POST">
<div id="calendar_text_2">請選擇會議室日期<br /> 
    {% csrf_token %}
    {{ form.date }}
    <button type="submit">search</button>
</div>

</form>

<table width="80%" height="100%" style="text-align:center;">
    <tr>
    
        <th width="15%">&nbsp&nbsp</td>
        <th width="17%" style='border-right:1px solid #000000'>ROOM 1</td>
        <th width="17%" style='border-right:1px solid #000000'>ROOM 2</td>
        <th width="17%" style='border-right:1px solid #000000'>ROOM 3</td>
        <th width="17%" style='border-right:1px solid #000000'>ROOM 4</td>
        <th width="17%">ROOM 5</td>
    </tr>

    {%for i,time_choice in time_choices%}
    <tr bgcolor="green" style="height: 1;">
        <td colspan="6"></td>
    </tr>
    <tr>
        <td width="15%" style='border-right:1px solid #000000'>{{time_choice}}</td>
        {%for room_choice in room_choices%}
        <td width="17%" style='border-right:1px solid #000000' timeid = {{time_choice}} roomid = {{room_choice}}>
            <a href="{% url 'book' %}">Book</a>
        </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}


