{% extends "base.html" %}
{% block content %}
    {% comment %} <style type="text/css">
        #input_box {
            width: 70%;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: large;
            margin-top: 30px;
        }

        #input_box_2 {
            width: 101.5%;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: large;
            margin-top: 30px;
        }
    </style> {% endcomment %}

    {% if form.errors %}
    <p>username or password not correct</p>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      {% for field in form %}
        {{ field.errors }}
      {% endfor %}
      <a type="submit">送出</a>
      <a href='{$ "register" %}'>註冊</a>
      <a href='{$ "forget" %}'>忘記密碼</a>
    </form>

{% endblock %}
