{% extends "base.html" %}
{% block content %}
<style type="text/css">

        #input_box {
            width: 70%;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: large;
            margin-top: 30px;
        }

        #input_box_2 {
            width: 101.5%;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: large;
            margin-top: 30px;
        }
</style>
<form>
    <div id="input_box"><label class="enroll_input">請輸入使用者名稱:</label></div>
    <div id="input_box"><input type="text" id="user_name"></div>
    <br />
    <div id="input_box"><label class="login_input">請輸入使用者電子郵件:</label></div>
    <div id="input_box_2"><input type="text" id="user_email"></div>
    <br />
    <div id="input_box_2"><label class="login_input">請輸入密碼:</label></div>
    <div id="input_box_2"><input type="text" id="user_password"></div>
    <br />
    <div id="input_box_2"><input  type="submit" value="確認"></div>
    <br />
    <div id="input_box_2"><button type="button"><a
                href="file:///C:/Users/USER/Desktop/vina%E7%9A%84%E5%8A%9F%E8%AA%B2/%E5%A4%A7%E4%B8%89%E4%B8%8A/%E8%BB%9F%E9%AB%94%E5%B7%A5%E7%A8%8B/project/%E5%80%9F%E7%94%A8%E7%99%BB%E5%85%A5.html">取消</a></button>
    </div>
</form>
{% endblock %}
