<html>

<head>
    <title>會議室借用系統</title>
    <style type="text/css">
        aside {
            width: 200px;
            background-color: rgb(240, 255, 241);
            color: cadetblue;
            font-weight: bold;
            text-align: center;
            float: left;
            margin: 20px;
        }

        #calendar_text_1 {
            width: 65%;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: x-large;
        }

        #calendar_text_2 {
            width: 65%;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: large;
            margin-top: 30px;
        }

        #title {
            text-align: center;
            font-size: xx-large;
            font-weight: bolder;
        }

        .in_line {
            text-align: right;
            font-size: medium;
        }
    </style>

</head>

<body>

    <!--借用情形查詢-->
    <h2>
        <div id="title">會議室借用系統</div>
    </h2>
    <!--右上角提示-->
    <div class="in_line">
        {% if request.user.is_authenticated %}
        <a>{{request.user}}</a>
        {% else %}
        <a href="login">Login</a>
        {% endif %}
        <span>，您好&nbsp;&nbsp;&nbsp;</span>
    </div>
    <aside>
        <div id="box_1">
            <!--左邊的選框-->
            <ul>
                <li><a href="search">借用情形查詢</a>
                </li>
                <li><a href="book">借用登記</a></li>
                <li><a href="search">借用記錄查詢</a></li>
                <li><a href="report">錯誤回報</a>
                </li>
            </ul>
        </div>
    </aside>
    <br />
    <div id="calendar_text_1">借用情形查詢</div>
    <br />
    <div id="calendar_text_2">請選擇想使用會議室日期<br /><input type="date" name="date"></div>
    <!---->
    <table width="80%" height="100%" style="text-align:center;">
        <tr>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%">&nbsp&nbsp</td>
            <td width="17%" style='border-right:1px solid #000000'>ROOM 1</td>
            <td width="17%" style='border-right:1px solid #000000'>ROOM 2</td>
            <td width="17%" style='border-right:1px solid #000000'>ROOM 3</td>
            <td width="17%" style='border-right:1px solid #000000'>ROOM 4</td>
            <td width="17%">ROOM 5</td>
        </tr>
        <tr bgcolor="green" style="height: 1;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>8:00-9:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" bgcolor="red" style='border-right:1px solid #000000'>X</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>9:00-10:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>10:00-11:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>11:00-12:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>12:00-13:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>13:00-14:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>14:00-15:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>15:00-16:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
        <tr bgcolor="green" style="height: 0.5;">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td width="15%" style='border-right:1px solid #000000'>16:00-17:00</td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%" style='border-right:1px solid #000000'></td>
            <td width="17%"></td>
        </tr>
    </table>
</body>

</html>